/* HEAD */
html {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: lightblue; */
}

#flex-area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  width: 1020;
  height: 900;
  display: flex;
}

/* START BUTTON */
#start-btn {
  height: 95px;
  width: 92px;
  border-radius: 62px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  z-index: 44;
  transform: translateY(-50%) translateX(-50%);
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* speech bubble */
#speech-bubble {
  width: 157px;
  position: absolute;
  top: 25%;
  left: 10%;
}

#speech-bubble span {
  top: 9%;
  left: 24%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
  position: absolute;
}

#speech-bubble img {
  width: 100%;
}

/* SCORE BAR*/
#score-container {
  position: absolute;
  height: 684px;
  width: 266px;
  left: 80%;
  top: 6%;
}

#scorepics {
  overflow: scroll;
  position: absolute;
  height: 86%;
  width: 94%;
  top: 12%;
  left: 3%;
}

#score {
  height: 60px;
  position: absolute;
  top: 2%;
  left: 40%;
  width: 61px;
}

#score h3 {
  text-align: center;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#score h1 {
  text-align: center;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pointpics {
  width: 33%;
}

#fool img {
  display: flex;
  justify-content: space-between;
  height: 668px;
  margin-top: 54px;
  margin-left: 16px;
}

#playing-area {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 827px;
  height: 680px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

section {
  width: 50%;
  height: 50%;
}

.icon-block {
  height: 41px;
  width: 50px;
}

/* .droppable img {
  display: flex;
} */

/* CASTLEt*/
/* castle background */
.castle {
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.floating-castle {
  height: 235px;
  width: 178px;
  position: absolute;
  left: 175px;
  /* z-index: 1; //without z-index the targets are behind image  */
}
.sword img {
  height: 100px;
  z-index: 30;
  position: absolute;
}

/* TREASURE CHEST */
/* treasure chest background */
.treasure-chest {
  top: 50%;
  left: 50%;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
/* position */
.treasure-target {
  height: 148px;
  width: 123px;
  right: 43px;
  top: 155px;
  position: absolute;
}
.coin img {
  height: 64px;
  width: 65px;
  z-index: 30;
  position: absolute;
}

/* WOODS */
/* woods background */
.woods {
  top: 50%;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
/* position */
.woods-target {
  height: 279px;
  width: 134px;
  position: absolute;
  right: 176px;
}
.wand img {
  height: 100px;
  z-index: 30;
  position: absolute;
}

/* WELL */
/* well background */
.well {
  left: 50%;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
/* well target */
.well-target {
  height: 192px;
  width: 114px;
  position: absolute;
  top: 88px;
  left: 151px;
}
.cup img {
  height: 100px;
  width: 84px;
  z-index: 30;
  position: absolute;
}

/* BACKGROUND IMAGE */
.coverimages {
  position: absolute;
  width: 100%;
  height: 100%;
}
