/* HEAD */
html {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: lightblue; */
}

body {
  position: absolute;
  margin: 0 auto;
  width: 1068px;
  height: 799px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

section {
  width: 50%;
  height: 50%;
}

/* START SCREEN  */
/* #startScreen-parent {
  width: 100%;
  height: 100%;
  background-image: url("./images/title_page_small.jpg")
} */

/* #start-page-img {
  width: ;
  height: 1000px;
} */

/* .draggable img {

}

.ui-state-highlight {
 background-color: white;
  display: inline-block;
} */
/* .brightness img:hover {
    opacity: .5;
} */

.z-index {
  z-index: 40;
  position: absolute;
}

.icon-block {
  width: 50px;
  height: 50px;
}

.icon-block img {
  width: 100%;
}

/* CASTLE */
.castle {
  position: absolute;
}

/* TREASURE CHEST */
.well {
  left: 50%;
  position: absolute;
}

/* WOODS */
.woods {
  top: 50%;
  position: absolute;
}

/* WELL */
.treasure-chest {
  top: 50%;
  left: 50%;
  position: absolute;
}

.coverimages {
  position: absolute;
  width: 100%;
  height: 100%;
}
