html {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.castle-block {
  content: url("./images/cup.jpg")
}

.castle {
  width: 50%;
  height: 50%;
  position: absolute;
  background: pink;
  content: url();
}

/* .draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}
.droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
} */

.treasure-chest {
  content: url(./images/treasure.jpg);
  width: 50%;
  height: 50%;
  position: absolute;
  margin-left: 561px;
  background: lightblue;
}


.woods {
  margin-top: 352px;
  width: 50%;
  height: 50%;
  position: absolute;
  background: lightyellow;
  content: url(./images/trees.jpg);
}

.well {
  width: 50%;
  height: 50%;
  position: absolute;
  margin-top: 352px;
  margin-left: 561px;
  background: green;
  content: url();
}

.border {
  background: blue;
  content: url();
}
